[submodule ".registry"]
	path = .registry
	url = https://github.com/cropmodels/universe
	shallow = true
	branch = HEAD
[submodule "Rquefts"]
	path = Rquefts
	url = https://github.com/cropmodels/Rquefts
	shallow = true
	registered = true
[submodule "Rwofost"]
	path = Rwofost
	url = https://github.com/cropmodels/Rwofost
	shallow = true
	registered = true
[submodule "meteor"]
	path = meteor
	url = https://github.com/cropmodels/meteor
	shallow = true
	registered = true
[submodule "pheonorice"]
	path = pheonorice
	url = https://github.com/cropmodels/pheonorice
	shallow = true
	registered = true
[submodule "Recocrop"]
	path = Recocrop
	url = https://github.com/cropmodels/Recocrop
	shallow = true
	registered = true
