[submodule ".registry"]
	path = .registry
	url = https://github.com/cropmodels/cropmodels.r-universe.dev
	branch = HEAD
[submodule "LINTULcassava"]
	path = LINTULcassava
	url = https://github.com/cropmodels/LINTULcassava
[submodule "Recocrop"]
	path = Recocrop
	url = https://github.com/cropmodels/Recocrop
[submodule "Rquefts"]
	path = Rquefts
	url = https://github.com/cropmodels/Rquefts
[submodule "Rwofost"]
	path = Rwofost
	url = https://github.com/cropmodels/Rwofost
[submodule "meteor"]
	path = meteor
	url = https://github.com/cropmodels/meteor
[submodule "phenorice"]
	path = phenorice
	url = https://github.com/cropmodels/phenorice
